# PyCitySchools Analysis

## Introduction

Could the PyCitySchools education system be using its resources more effectively? To answer this question, I analyzed two sets of data:  
a csv containing information on all of the students in the system,  
and a csv containing information on all of the schools in the system.

## Data Cleanup

Cleanliness was not an issue with the data sets.  
Both data sets began with 0 missing values, and all data types were correct from the beginning.
I did omit some of the original data provided:  
1) the 'gender' of the student.
2) the 'Student ID' of the student.
3) the 'School ID' of the school.

No further omissions or changes were made to the data in order to clean it.

## Analysis

The analysis for this data was performed in the following order:
1. The two data sets were merged together on the 'school name'.
2. A few calculations were made to create more data points on the district as a whole as follows:
    - the total amount of students in the district.
    - the amount of schools in the district.
    - the total budget for the district.
    - the average math score of students in the district and the percentage of students passing math.
    - the average reading score of students in the district and the percentage of students passing reading.
    - the overall passing rate of students in the district (students with a score of 70% or higher in both subjects listed above)
3. These calculations were used in a snapshot of the district as a whole.
4. A similar table to the district snapshot was created with the same data points for each individual school.
5. The passing rates of students for both subjects was broken into a grade-by-grade analysis.
6. A comparison of student passing rates and budget per capita was created.
7. A comparison of student passing rates and school size was created (with schools split into small, medium, or large).
8. A comparison of student passing rates and the type of school (district or charter) was created.
9. A leaderboard of the highest-performing schools was created.
10. A leaderboard of the lowest-performing schools was created.

## Observations

1. It appears that there is a negative correlation between the amount of the budget spent on students and the success rates of those students.
    - In the section [Scores by Student Spending](#scores-spending) on budget used per capita vs. success rate of students: the largest spending group returns with the lowest success rate of students. Looking further into this issue, we can see the nuance that is present: larger schools, which have the lowest success rates of students as noted in [Scores by School Size](#scores-size), are also the schools which are able to spend the most on their students. However: it appears this money is not being used effectively.
    - The data presented above suggests that the highest area of concern among large schools is mathematics. Large schools have a 24% lower passing rate in the subject (whereas the reading scores are behind 10% from the other schools); with that in mind, it could be beneficial to the students of larger schools if resources were allocated towards programs and assistance in mathematics. Given that the average score in math is 69.96% for the large schools: a mere 1% increase would improve the overall passing rates for these schools greatly.
2. Charter schools see higher success rates for students across the board.
   - In the section [Highest-Performing Schools](#highest-scores), the top 8 of 15 schools are charter schools. These charter schools are among the lowest in terms of budget available per student; yet, as in the section [Scores by School Type](#scores-type), the charter schools have a 30% higher overall rate of passing than the district schools. Given this information, I believe it would make sense to create programs for the district schools that are similar to the programs offered in the charter schools because it appears their effectiveness is high.

## Conclusion

If the district schools are able to mimic programs offered in charter schools there could be a great increase in the rate of passing for students of district schools.

An area of opportunity exists within the mathematics department: increasing scores there (specifically within the larger schools) would lead to greatly increased passing rates across the board in the district.

# PyCitySchools Data

## Setup

In [1]:
# Dependencies.
import pandas as pd
from pathlib import Path

# File paths for our CSV files.
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

# Create DataFrames from our CSV files.
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)

# Combine DataFrames into one.
school_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Is it working?
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Check out the Data for null/missing values and data types.
# As well as... just look at it a little before diving in!
display(school_df.shape)
display(school_df.info())

(39170, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

None

## District Summary

In [3]:
# Calculate the total number of unique schools.
school_count = school_df["school_name"].nunique()
school_count

15

In [4]:
# Calculate the total number of students.
student_count = school_df["Student ID"].nunique()
student_count

39170

In [5]:
# Calculate the total budget.
total_budget = sum(school_df["budget"].unique())
total_budget

24649428

In [6]:
# Calculate the average math score.
avg_math_score = school_df["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Calculate the average reading score.
avg_read_score = school_df["reading_score"].mean()
avg_read_score

81.87784018381414

In [8]:
# Calculate the percentage of students who passed math.
passing_math_count = school_df[(school_df["math_score"] >= 70)].count()["Student ID"]
passing_math_perc = passing_math_count / float(student_count)
passing_math_perc

0.749808526933878

In [9]:
# Calculate the percentage of students who passed reading.
passing_read_count = school_df[(school_df["reading_score"] >= 70)].count()["Student ID"]
passing_read_perc = passing_read_count / float(student_count)
passing_read_perc

0.8580546336482001

In [10]:
# Calculate the percentage of students that passed both math and reading.
overall_passing_count = school_df[(school_df["math_score"] >= 70) & 
                                  (school_df["reading_score"] >= 70)].count()["Student ID"]

overall_passing_rate = overall_passing_count / float(student_count)
overall_passing_rate

0.6517232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame.
district_summary = pd.DataFrame([{"Total Schools": school_count,
                                  "Total Students": student_count,
                                  "Total Budget": total_budget,
                                  "Average Math Score": avg_math_score,
                                  "Average Reading Score": avg_read_score,
                                  "% Passing Math": passing_math_perc,
                                  "% Passing Reading": passing_read_perc,
                                  "% Overall Passing": overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2%}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2%}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2%}".format)

# Display the DataFrame.
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

In [12]:
# Select the type per school from school_data.
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school from school_data.
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school from school_data.
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [15]:
# Calculate the average test scores per school from school_df.
per_school_read = school_df.groupby(["school_name"])["reading_score"].mean()
per_school_math = school_df.groupby(["school_name"])["math_score"].mean()

display(per_school_read)
display(per_school_math)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_df.
stu_passing_math = school_df[(school_df["math_score"] >= 70)].groupby(["school_name"]).size()
stu_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_df.
stu_passing_read = school_df[(school_df["reading_score"] >= 70)].groupby(["school_name"]).size()
stu_passing_read

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [18]:
# Calculate the number of students per school passing both reading and math.
stu_passing_both = school_df[(school_df["reading_score"] >= 70) & 
                             (school_df["math_score"] >= 70)].groupby(["school_name"]).size()
stu_passing_both

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [19]:
# Calculate the passing rates.
per_school_pass_math = stu_passing_math / per_school_counts
per_school_pass_read = stu_passing_read / per_school_counts
per_school_pass_both = stu_passing_both / per_school_counts

<a id="school-summary"><a>

In [20]:
# Create a DataFrame called 'per_school_summary' with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_read,
                                   "% Passing Math": per_school_pass_math,
                                   "% Passing Reading": per_school_pass_read,
                                   "% Overall Passing": per_school_pass_both})
per_school_summary.index.name = None

# Make a 'pretty' version to display so that we can still modify the 'raw' version later for numbers.
pretty_school_summary = per_school_summary.copy()

# Formatting.
pretty_school_summary["Total School Budget"] = pretty_school_summary["Total School Budget"].map("${:,.2f}".format)
pretty_school_summary["Per Student Budget"] = pretty_school_summary["Per Student Budget"].map("${:,.2f}".format)
pretty_school_summary["% Passing Math"] = pretty_school_summary["% Passing Math"].map("{:,.2%}".format)
pretty_school_summary["% Passing Reading"] = pretty_school_summary["% Passing Reading"].map("{:,.2%}".format)
pretty_school_summary["% Overall Passing"] = pretty_school_summary["% Overall Passing"].map("{:,.2%}".format)

# Display the 'pretty' DataFrame.
pretty_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)
<a id="highest-performing"><a>

In [21]:
# Sort the schools by '% Overall Passing' in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899

## Lowest-Performing Schools (by % Overall Passing)
<a id="lowest-performing"><a>

In [22]:
# Sort the schools by '% Overall Passing' in ascending order and display the top 5 rows.
bot_schools = per_school_summary.sort_values("% Overall Passing")
bot_schools.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade.
ninth_graders = school_df[(school_df["grade"] == "9th")]
tenth_graders = school_df[(school_df["grade"] == "10th")]
eleventh_graders = school_df[(school_df["grade"] == "11th")]
twelfth_graders = school_df[(school_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`.
math_scores_by_grade = pd.DataFrame({"9th": ninth_grader_math_scores,
                                     "10th": tenth_grader_math_scores,
                                     "11th": eleventh_grader_math_scores,
                                     "12th": twelfth_grader_math_scores})

# Minor data wrangling.
math_scores_by_grade.index.name = None

# Display the DataFrame.
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [24]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_read_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_read_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_read_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_read_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`.
read_scores_by_grade = pd.DataFrame({"9th": ninth_grader_read_scores,
                                     "10th": tenth_grader_read_scores,
                                     "11th": eleventh_grader_read_scores,
                                     "12th": twelfth_grader_read_scores})

# Minor data wrangling.
read_scores_by_grade.index.name = None

# Display the DataFrame.
read_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending
<a id="scores-spending"><a>

In [25]:
# Establish the bins.
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget".
school_spending_df = per_school_summary.copy()

In [27]:
# Use 'pad.cut' to categorize spending based on the bins.
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget'], 
                                                            bins=spending_bins, 
                                                            labels=labels, 
                                                            include_lowest=True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333,<$585

In [28]:
# Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\1171868194.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\1171868194.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\1171868194.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\1171868194.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\1171868194.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [29]:
# Assemble into DataFrame.
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, 
                                 "Average Reading Score": spending_reading_scores, 
                                 "% Passing Math": spending_passing_math, 
                                 "% Passing Reading": spending_passing_reading, 
                                 "% Overall Passing": overall_passing_spending})
# Format results.
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.2%}".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.2%}".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.2%}".format)

# Display results.
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,90.37%
$585-630,81.90,83.16,87.13%,92.72%,81.42%
$630-645,78.52,81.62,73.48%,84.39%,62.86%
$645-680,77.00,81.03,66.16%,81.13%,53.53%

## Scores by School Size
<a id="scores-size"><a>

In [30]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Categorize the spending based on the bins.
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary['Total Students'], 
                                           bins = size_bins, 
                                           labels=labels, 
                                           include_lowest=True)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333,Medium (1000-2000)

In [32]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\2944522441.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\2944522441.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\2944522441.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\2944522441.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\emteb\AppData\Local\Temp\ipykernel_10160\2944522441.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [33]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`.
size_summary = pd.DataFrame({"Average Math Score": size_math_scores, 
                             "Average Reading Score": size_reading_scores, 
                             "% Passing Math": size_passing_math, 
                             "% Passing Reading": size_passing_reading, 
                             "% Overall Passing": size_overall_passing})

# Format results.
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:,.2%}".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:,.2%}".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:,.2%}".format)

# Display results.
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.88%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,90.62%
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.29%

## Scores by School Type
<a id="scores-type"><a>

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [35]:
# Assemble the new data by type into a DataFrame called `type_summary`.
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type, 
                             "Average Reading Score": average_reading_score_by_type, 
                             "% Passing Math": average_percent_passing_math_by_type, 
                             "% Passing Reading": average_percent_passing_reading_by_type, 
                             "% Overall Passing": average_percent_overall_passing_by_type})

# Format results.
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.2%}".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.2%}".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.2%}".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%